$b0: #000;
$b1: #111;
$b2: #222;
$b3: #333;
$w0: #fff;
$w1: #ddd;

$blue1: rgb(3, 61, 138);
$blue1-2: rgb(3, 61, 138, .2);
$blue1-4: rgb(3, 61, 138, .4);
$blue1-6: rgb(3, 61, 138, .6);
$blue1-8: rgb(3, 61, 138, .8);
$blue2: rgb(0, 119, 184);
$blue2-6: rgb(0, 119, 184, .6);
$blue3: rgb(146, 224, 240);
$blue3-6: rgb(146, 224, 240, .6);
$blue4: rgb(200, 240, 247);
$blue4-6: rgb(200, 240, 247, .6);